.bg-theme {
  background-color: dimgray;
}

.navbar-toggler-icon {
  /* display: block; */
  /* background-color: greenyellow;
  border-color: #444;
  background: none;
  outline: 0; */
}

.main-section-bg{
  min-height: 80vh;
  /* display: flex; */
}

.about-section-bg{
  min-height: 40vh;
}

.btn-success{
  margin: 5px;
  padding: 8px 35px;
}

.btn-primary{
  margin: 5px;
  padding: 8px 35px;
}

/* .card {
  max-width: 20rem;
}

.statBlock {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
} */
